@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color:#F0F2F5 ;
}

img,
a,
button {
    cursor: pointer;
}

button:hover {
    background-color: #17AC3D;
}

.container_login {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #153E4D;
}

.container_login>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: auto;
    margin-right: 15px;
    color: white;
}

nav {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 100px;
    background-color: #153E4D;
}

#cadastro{
    color: #A5A7A7;
    transition-duration: 2ms;
    text-decoration: none;
}


.so_caminhao {
    width: 210px;
    margin: auto;
    margin-left: 20px;
}

.links > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 40px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.links>a:hover {
    color: #17AC3D;
}

.icones {
    display: flex;
    width: 150px;
    margin-right: 60px;

}

.icones>img {
    width: 32px;
    margin: auto;
}



.links>img {
    width: 32px;
}

button {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    padding: 12px;
    font-weight: bolder;
    color: white;
    background-color: #1bd249;
    border: none;
    border-radius: 2px;
}

.btn_v {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 45px;
    border: none;
    border-radius: none;
    margin-right: 20px;
}
/*header */

main{
    margin: 0px 40px 0px 40px;
    background-color:#F0F2F5;
   /* border: 1px solid black; */
}

.links_main{
    font-size: 11px;
    margin-top: 60px;
}
.links_main > a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
}

.container_form{
   display: flex;
   /* border: 1px solid black; */

}

.container_jatenho_conta{
 /*   border: 2px solid red; */
 margin-top: 40px;
}


.fomr_jatenho_conta{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 30px;
    background-color: #153E4D;
    width: 350px;
}

#email{
    font-size: 14px;
    background-color:#F0F2F5;
    border: none;
    margin: 18px 0px 18px 0px;
    padding: 12px;
    width: 100%;
}

#senha{
    font-size: 14px;
    background-color:#F0F2F5;
    border: none;
    margin: auto;
    padding: 12px;
    margin: 18px 0px 18px 0px;
    width: 100%;
}

.p_form{
    margin: auto;
    margin-left: 0px;
    font-size: 15px;
    font-weight: 900;
    color: white;
}

.container_checkbox{
    display: flex;
    width: 100%;
   
}

input[type="checkbox"]{
    background-color:#F0F2F5;
    margin-top: 20px;
    width: 18px;
    border-radius: 5px;
}

.div_relembrar{
    margin-top: 22px;
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
    color: #8A9EA6;
    cursor: pointer;
}

.div_esqueceu{
    margin-top: 22px;
    font-size: 14px;
    font-weight: 900;
    margin-left: 27px;
    color: #8A9EA6;
    cursor: pointer;
}

.div_esqueceu:hover{
   color: white;
}

#relembrar{
    height: 20px;
}

#btn_entrar{
    margin: auto;
    margin-left: 0px;
    margin-top: 25px;
    width: 50%;
}

.container_form_cadastro{
 /*   border: 1px solid blue; */
   
    width: 100%;
    margin-left: 30px;
    margin-top: 40px;
}

.form_cadastro{
    display: flex;
    justify-content: center;
    border-top: 4px solid #153E4D;
    margin-top: 40px;
    background-color: white;

    box-shadow: 0px  1px 5px rgba(0, 0, 0, 0.433);
}

.div_form {
    display: flex;

    width: 100%;
    margin: 25px;
   /* border: 1px solid yellow; */
    flex-direction: column;

}

.div_form > p {
    font-weight: bolder;
    font-size: 15px;
    color: #153E4D;
}

.div_form > input {
    font-size: 14px;
    background-color:#F0F2F5;
    border: none;
    margin: 18px 0px 18px 0px;
    padding: 12px;
    width: 100%;
}

.container_checkbox_anunciar{
display: flex;   
}

#anunciar{
    margin: 0px;
    width: 18px;
    border-radius: 5px;
}

.container_checkbox_anunciar > p {
    font-size: 13px;
    margin-left: 10px;
}

#btn_cadastro{
    font-size: 13px;
    background-color: #a9b7cc;
    margin-top: 25px;
    width: 60%;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 300px;
    border: 1px solid black;
}



.div_footer1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #232628;
    color: white;
    height: 215px;
}

.div_footer2 {
    display: flex;
    align-items: center;
    color: white;
    background-color: #153E4D;
    height: 215px;
}

.text {
    margin-left: 20px;
}

.text>h3 {
    margin-bottom: 30px;
}
