@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color:white;
}

img,
a,
button {
    cursor: pointer;
}

button:hover {
    background-color: #17AC3D;
}

.container_login {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #153E4D;
}

.container_login>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: auto;
    margin-right: 15px;
    color: white;
}

nav {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 100px;
    background-color: #153E4D;
}

#cadastro{
    color: #A5A7A7;
    text-decoration: none;
 }
 
 #cadastro:hover{
    color: white;
    transition-duration: 2ms;
 }



.so_caminhao {
    width: 210px;
    margin: auto;
    margin-left: 20px;
}

.links > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 40px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.links>a:hover {
    color: #17AC3D;
}

.icones {
    display: flex;
    width: 150px;
    margin-right: 60px;

}

.icones>img {
    width: 32px;
    margin: auto;
}



.links>img {
    width: 32px;
}

button {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    padding: 12px;
    font-weight: bolder;
    color: white;
    background-color: #1bd249;
    border: none;
    border-radius: 2px;
}

.btn_v {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 45px;
    border: none;
    border-radius: none;
    margin-right: 20px;
}

/*fim do header */
main{
    margin: 0px 40px 0px 40px;
    background-color: white;

}
.links_main{
    font-size: 11px;
    margin-top: 60px;
}
.links_main > a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
}

.container_geral{
    display: flex;
    border: 2px solid orange;
}


.container_cards{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid black;
   
}
.cards{
    border: 2px solid yellow; 
    width:260px;
    height: 350px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.img_cards{
/* border: 2px solid black; */
 width: 100%;
 height: 130px;
}

.img_cards > img{
 width: 100%;
 height: 100%;
}

.info_cards{
    
    margin-top: 15px;
    width: 100%;
    height: 203px;
    border: 2px solid rgb(187, 229, 255); 
}

.texto{
    display: flex;
    align-items: center;
    padding: 5px;
  /*  border: 2px solid black; */
    text-align: center;
    height: 50%;
}

.texto2{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    height: 50%;
}

.texto2 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 100%;
    width: 50%;
  /*  border: 2px solid black; */
}

.texto2 > div > p > img{
    width: 18px;
    margin-left: 9px;
    margin-right: 9px;
}

.texto2 > div >  p {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40%;
    margin: auto;
    margin-left: 0px;
   /* border: 1px solid black; */
}


.nav_post{

   width: 540px;

}

.nav_post > input {
    font-size: 14px;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #ECEFF3;
}

.nav_post > p {
    font-size: 14px;
    margin-top: 15px;
}

ul{
    list-style: none;
}
h2{
 font-size: 18px;
 margin-top: 15px;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 300px;
    border: 1px solid black;
}



.div_footer1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #232628;
    color: white;
    height: 215px;
}

.div_footer2 {
    display: flex;
    align-items: center;
    color: white;
    background-color: #153E4D;
    height: 215px;
}

.text {
    margin-left: 20px;
}

.text>h3 {
    margin-bottom: 30px;
}